$primary: #000000;
$base: #fff;
$base-plus: #eee;
$accent: #e26a00;

$anchor: $accent;
$anchor-hover: lighten($accent, 10%);

body {
  background-color: $base;
  color: $primary;
}

h1, h2, h3, h4, h5, h6 {
  color: $primary;
}

a {
  color: $anchor;
  text-decoration: none;
}

a:hover {
  color: $anchor-hover;
}

footer {
  background-color: $primary;

  h2, p {
    color: $base;
  }
}

i.fa {
  color: $accent;
}

@include selection {
  background-color: $accent;
}

body {
  @include selection(true) {
    background-color: $accent;
  }
}