header {
  position: fixed;
  max-height: 70px;
  z-index: 999;
  width: 100%;
  background: none;
  overflow: hidden;
  @include transition(all 0.3s);
  opacity: 0;
  top: -100px;

  nav a {
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.35rem;
    cursor: pointer;
    display: inline-block;
    position: relative;
    color: $base;

    &.active, &:hover {
      color: $accent;
    }
  }

  nav a:after {
    content: '';
    display: block;
    margin: auto;
    height: 0.25rem;
    width: 0;
    background: transparent;
    @include transition(width .5s ease, background-color .5s ease);
  }

  a:hover:after, a.active:after {
    width: 100%;
    background: $anchor-hover;
  }

  nav a:after {
    content: '';
    display: block;
    margin: auto;
    height: 0.25rem;
    width: 0;
    background: transparent;
    @include transition(width .5s ease, background-color .5s ease);
  }
}

.open-nav {
  max-height: 30rem !important;
}

.sticky {
  background-color: rgba($primary, 0.9);
  opacity: 1;
  top: 0;
}

.logo {
  color: $base;
  float: left;
  display: block;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Montserrat, sans-serif;
  letter-spacing: -0.25rem;
  margin-top: 5px;
  cursor: pointer;

  @include transition(.25s ease-in);

  &:hover {
    color: $accent;
    @include transition(.25s ease-in);
  }
}

nav {
  float: right;
  width: 60%;

  ul {
    list-style: none;
    overflow: hidden;
    text-align: right;
    float: right;
    margin-top: 20px;

    li {
      display: inline-block;
      margin-left: 35px;
      line-height: 1.5;
    }
  }
}

.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 25px;
  width: 30px;
  height: 23px;
  @include transform(rotate(0deg));
  @include transition(.5s ease-in-out);

  span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: $accent;
    border-radius: 13px;
    opacity: 1;
    left: 0;
    @include transform(rotate(0deg));
    @include transition(.25s ease-in-out);

  }

  span:nth-child(1) {
    top: 0;
  }

  span:nth-child(2), span:nth-child(3) {
    top: 9px;
  }

  span:nth-child(4) {
    top: 18px;
  }
}

.open-nav .mobile-toggle span:nth-child(1) {
  top: 9px;
  width: 0%;
  left: 50%;
}

.open-nav .mobile-toggle span:nth-child(2) {
  @include transform(rotate(45deg));
}

.open-nav .mobile-toggle span:nth-child(3) {
  @include transform(rotate(-45deg));
}

.open-nav .mobile-toggle span:nth-child(4) {
  top: 9px;
  width: 0%;
  left: 50%;
}

@include keyframes(scroll) {
  0% {
    opacity: 1;
    @include transform(translateY(0));
  }

  100% {
    opacity: 0;
    @include transform(translateY(20px));
  }
}

.language-selection a {
}