.hero {
  position: relative;
  background: url(/img/hero.jpg) no-repeat center center;
  background-size: cover;
  text-align: center;
  color: #fff;
  min-height: 100vh;
  letter-spacing: 2px;

  .heading {

    background-color: $primary;
    padding-left: 9vmin;
    padding-top: 6vmin;
    padding-right: 9vmin;
    padding-bottom: 1vmin;
    max-width: 50%;
    margin-left: auto;
    font-size: 6vmin;
    font-weight: bold;

    h1 {
      font-size: 3vmin;
      letter-spacing: 0;
      color: $base;
      text-align: left;
      font-weight: normal;

      span {
        font-size: 6vmin;
        letter-spacing: -0.5vmin;
        font-weight: bold;
      }
    }
  }
}

.mouse {
  display: block;
  width: 50px;
  height: 40px;
  background-color: $accent;
  position: absolute;
  bottom: 0;
  left: 50.7%;
  margin: 0 auto 0 -26px;
  cursor: pointer;

  i {
    color: $base;
    display: block;
    font-size: 4rem;
  }
}
