<!DOCTYPE html>
<html ng-app="AgnesApp" ng-controller="AgnesController">
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>agne-architect.com</title>
    <!-- styles -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="css/vendor.min.css"/>
    <link rel="stylesheet" href="css/app.min.css"/>
</head>
<body class="ng-cloak">
<header id="top" ng-class="{ 'open-nav': showMobileMenu, 'sticky': stickyMenu }">
    <div class="container">
        <a class="logo" ng-click="anchorScroll('top')">Agne Erickson</a>
        <div class="mobile-toggle" ng-click="mobileToggle()">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <nav>
            <ul>
                <li><a ng-click="anchorScroll('top')" ng-class="{'active': activeLink === 'top'}">{{ 'Home' | translate:language }}</a></li>
                <li><a ng-click="anchorScroll('projects')" ng-class="{'active': activeLink === 'projects'}">{{ 'Projects' | translate:language }}</a></li>
                <li><a ng-click="anchorScroll('about')" ng-class="{'active': activeLink === 'about'}">{{ 'About Me' | translate:language }}</a></li>
                <li><a ng-click="anchorScroll('contact')" ng-class="{'active': activeLink === 'contact'}">{{ 'Contact' | translate:language }}</a></li>
                <li class="language-selection" ng-if="languages.length > 1">
                    <span ng-repeat="lang in languages">
                        <a ng-class="{'active': language === lang}" ng-click="changeLanguage(lang)">{{ lang | uppercase }}</a>
                    </span>
                </li>
            </ul>
        </nav>
    </div>
</header>
<main>
    <div class="hero">
        <div class="heading">
            <h1><span>Agne Erickson</span><br>{{ 'Architect' | translate:language }}</h1>
            <div class="mouse" ng-click="anchorScroll('projects')">
                <i class="fa fa-angle-double-up"></i>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="projects" class="row min-height-section">
            <h2 class="pb++">{{ 'Projects' | translate:language }}</h2>
            <article ng-repeat="project in projects track by project.path">
                <section ng-repeat="section in project.sections track by $index" class="container row u-max-full-width">
                    <section ng-repeat="col in section.cols.data track by $index" ng-class="section.cols.width">
                        <h3 ng-if="col.h3 !== undefined">0{{ $index+1 }} {{ col.h3 | translate }}</h3>
                        <h4 ng-if="col.h4 !== undefined">{{ col.h4 | translate }}</h4>
                        <div ng-if="col.separator" class="separator mb+++">
                            <div></div>
                        </div>
                        <p ng-repeat="p in col.paragraphs track by $index">{{ p | translate:language }}</p>
                        <img ng-if="col.image !== undefined && col.imageLabels === undefined" ng-src="/projects/{{project.id}}/{{col.image}}" class="u-max-full-width"/>
                        <section ng-if="col.image !== undefined && col.imageLabels !== undefined" class="row">
                            <img ng-src="/projects/{{project.id}}/{{col.image}}" class="eight columns u-max-full-width"/>
                            <ol ng-if="col.imageLabels" class="image-labels four columns">
                                <li ng-repeat="label in col.imageLabels track by label">{{ label }}</li>
                            </ol>
                        </section>
                    </section>
                </section>
            </article>
        </div>
        <div id="about" class="row min-height-section">
            <h2 class="pb++">{{ 'About Me' | translate:language }}</h2>

            <div class="row">
                <div class="three columns center">
                    <span><i class="fa fa-4x fa-location-arrow"></i></span>
                    <h6>{{ 'Location' | translate:language }}</h6>
                    <p class="center">{{ 'Zurich, Switzerland' | translate:language }}</p>
                </div>
                <div class="three columns center">
                    <span><i class="fa fa-4x fa-flag"></i></span>
                    <h6>{{ 'Nationality' | translate:language }}</h6>
                    <p class="center">{{ 'Lithuanian' | translate:language }}</p>
                </div>
                <div class="three columns center">
                    <span><i class="fa fa-4x fa-globe"></i></span>
                    <h6>{{ 'Languages' | translate:language }}</h6>
                    <ul class="center">
                        <li>{{ 'Lithuanian (Native)' | translate:language }}</li>
                        <li>{{ 'German' | translate:language }} (B2)</li>
                        <li>{{ 'English' | translate:language }}</li>
                        <li>{{ 'Russian' | translate:language }}</li>
                        <li>{{ 'Polish' | translate:language }}</li>
                    </ul>
                </div>
                <div class="three columns center">
                    <span><i class="fa fa-4x fa-mortar-board"></i></span>
                    <h6>{{ 'Education' | translate:language }}</h6>
                    <ul class="center">
                        <li>B. Arch. {{ 'Gediminas Technical University - Vilnius, Lithuania' | translate:language }} (2002)</li>
                        <li>M. Arch. {{ 'Gediminas Technical University - Vilnius, Lithuania' | translate:language }} (2005)</li>
                    </ul>
                </div>
            </div>
            <!--<div class="row">-->
                <!--<div class="twelve columns">-->
                    <!--<h4>{{ 'Experience' | translate:language }}</h4>-->
                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->
                <!--</div>-->
            <!--</div>-->
            <div class="row">
                <div class="six columns">
                    <h4>{{ 'Skills' | translate:language }}</h4>
                    <ul class="skills-graph">
                        <li><span class="percent percent-80"></span><p>Archicad</p></li>
                        <li><span class="percent percent-75"></span><p>Artlantis</p></li>
                        <li><span class="percent percent-70"></span><p>Autocad</p></li>
                        <li><span class="percent percent-60"></span><p>Photoshop</p></li>
                        <li><span class="percent percent-60"></span><p>Lightroom</p></li>
                    </ul>
                </div>
                <div class="six columns">
                    <h4>{{ 'Expertise' | translate:language }}</h4>
                    <ul class="checklist fa-ul">
                        <li class="fa-li fa fa-check"><span>{{ 'Individual houses' | translate:language }}</span></li>
                        <li class="fa-li fa fa-check"><span>{{ 'Apartment buildings' | translate:language }}</span></li>
                        <li class="fa-li fa fa-check"><span>{{ 'Commercial objects' | translate:language }}</span></li>
                        <li class="fa-li fa fa-check"><span>{{ 'Industrial objects' | translate:language }}</span></li>
                        <li class="fa-li fa fa-check"><span>{{ 'Extensions and Reconstructions' | translate:language }}</span></li>
                        <li class="fa-li fa fa-check"><span>{{ 'Urban planning' | translate:language }}</span></li>
                        <li class="fa-li fa fa-check"><span>{{ 'Interior design' | translate:language }}</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>
<footer id="contact" class="u-full-width">
    <div class="container min-height-section">
        <div class="row">
            <h2 class="pb++">{{ 'Contact' | translate:language }}</h2>
            <div>
                <p>{{ 'Thanks' | translate:language }}</p>
                <ul class="links">
                    <li><a href="docs/agne-erickson-portfolio.pdf" title="{{ 'Portfolio download' | translate:language }}"><i class="fa fa-3x fa-picture-o"></i></a></li>
                    <li><a href="docs/{{ 'cv' | translate:language }}" title="{{ 'CV download' | translate:language }}"><i class="fa fa-3x fa-file-text"></i></a></li>
                    <li><a href="mailto:agne@agne-architect.com" title="Email"><i class="fa fa-3x fa-paper-plane"></i></a></li>
                    <li><a href="https://ch.linkedin.com/in/agne-erickson-b14b9716" title="LinkedIn"><i class="fa fa-3x fa-linkedin"></i></a></li>
                    <li><a href="https://www.behance.net/agne_erickson" title="Behance"><i class="fa fa-3x fa-behance"></i></a></li>
                </ul>
            </div>
            <div>
                <h5>{{ 'Links' | translate:language }}</h5>
                <ul>
                   <li></li>
                </ul>
            </div>
            <p class="disclaimer">&copy; Agne Erickson {{ year }}</p>
        </div>
    </div>
</footer>
<!-- scripts -->
<script src="js/vendor.min.js"></script>
<script src="js/app.min.js"></script>
</body>
</html>
